.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    background-color: rgba(8, 2, 2, 0.424);
    padding: 5px;
    width: 65%;
    text-align: center;
}

.next-button {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #8E9AAF;
    background-color: #EFD3D7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


body {
    background-color: #DEE2FF;
}

.background-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.story {
    width: 50%;
    height: 50%;

}

.dialogues {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}