/* .dialogues {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    background-color: rgba(8, 2, 2, 0.719);
    padding: 5px;
    width: 42%;
    text-align: center;
}


body {
    background-color: #DEE2FF;
}

/* .background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
} */

.character {
    position: absolute;
    display: flex;
    width: 50%;
    height: 45%;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
} 

.story {
    position: relative;
    text-align: center;
    color: white;
}


/* .dialogues {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
  } */

/* .button-choice {
    position: absolute;
    top: 53%;
    left: 50%;
    background-color: black;
  } */

.background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

