.choice-one, .choice-two {
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.choice-one:hover, .choice-two:hover {
    background-color: pink;
    color: white;
}

.character-img {
    position: absolute;
    width: 325px;
    height: 500px;
    top: 10%;
    left: 40%;
} 

.story {
    position: relative;
    text-align: center;
}

.background-img {
    border-radius: 7px;
    border-color: black;
    margin-top: 10%;
    width: 900px;
    height: 500px;
}


.dialogues {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.609);
    width: 850px;
    height: 100px;
    text-align: center;
  }

  .dialogue-text {
      color: black;
  }

/* .choices {
    color: black;
} */



