.signOut {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #8E9AAF;
    background-color: #EFD3D7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.signOut:hover {
    background-color: pink;
    color: whitesmoke;
}

.signOut:active {
    background-color: pink;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }